.module-container {
  display: block;
  width: 480px;
  height: fit-content;
  font-family: inherit;
  font-size: medium;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: absolute;
  z-index: 10;
  padding-top: 0.6rem;
  background-color: white;
}

.quick-ranges-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 0.3rem;
}

.range-label {
  padding: 10px 20px;
  margin-bottom: 0.2rem;
  font-weight: bold;
  border-radius: 5px;
  color: var(--davys-grey);
  cursor: pointer;
  caret-color: transparent;
  text-align: left;
}

.selected-range-label {
  color: #22ccce;
  background-color: #f2f2f2;
}

.month-and-year-container {
  display: flex;
  flex: 1;
  padding: 0.4rem 0 0.4rem 0;
}

.next-prev-button-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.next-prev-button {
  display: flex;
  width: 34px;
  height: 27px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  caret-color: transparent;
  border-radius: 5px;
}
.next-prev-button:hover {
  background-color: #ececec;
}

.month-and-year-pickers {
  display: flex;
  flex: 3;
  flex-direction: row;
  font-weight: 600;
  align-items: center;
  justify-content: space-evenly;
}

.month-picker,
.year-picker {
  display: flex;
  cursor: pointer;
  caret-color: transparent;
  border: 0;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  color: var(--davys-grey);
  outline: none;
  padding: 5px 3px 5px 3px;
  border-radius: 5px;
  margin-right: 0.1rem;
}

.month-picker:hover,
.year-picker:hover {
  opacity: 0.8;
  background-color: #ececec;
}

.range-label:hover {
  background-color: #ececec;
}

.calendar {
  display: flex;
  flex: 3;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.calendar-header {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  justify-self: center;
}

.day-label {
  display: flex;
  justify-self: center;
  font-weight: bold;
  color: var(--davys-grey);
}

.day {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28px;
  margin: 0.2rem 0.1rem 0.1rem 0.1rem;
  caret-color: transparent;
}

.day-of-current-month {
  font-weight: 800;
  color: var(--davys-grey);
  cursor: pointer;
}

.day-of-other-month {
  color: var(--gray-x-11-gray);
  font-weight: 500;
  pointer-events: none;
}

.day-of-current-month:hover {
  color: var(--platinum);
  font-size: small;
}

.day-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
}

.selected-day {
  background-color: #22ccce;
  color: white;
}

.today {
  border-color: #22ccce;
}

.side-elements {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
}
.left-element {
  left: 0;
}

.fill-side-element-bg {
  background-color: #d2f4f5;
}

.date-picker-container {
  display: flex;
  flex: 2;
  max-width: 400px;
  flex-direction: column;
  padding-bottom: 1rem;
}

.selected-dates-container {
  display: flex;
  flex: 1;
  padding: 0.4rem 0.6rem 1rem 0.6rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.start-end-date {
  display: flex;
  width: 40%;
  flex-direction: column;
  background-color: #f2f2f2a2;
  color: var(--davys-grey);
  padding: 0.5rem 0.8rem;
  border-radius: 100px;
  min-width: 100px;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  caret-color: transparent;
  box-shadow: var(--box-shadow);
}

.start-end-date span {
  font-size: 14px;
  white-space: nowrap;
}

.btn-container {
  display: flex;
  flex: 0.5;
  padding-right: 0.6rem;
  margin-top: 0.5rem;
  justify-content: flex-end;
}
.apply-button,
.cancel-button {
  display: flex;
  border: none;
  padding: 0.4rem 2rem;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  font-family: inherit;
  background-color: #22ccce;
  color: white;
  box-shadow: var(--box-shadow);
}

.start-end-date:hover,
.apply-button:hover,
.cancel-button:hover {
  opacity: 0.7;
  box-shadow: none;
}

.cancel-button {
  background-color: #ececec;
  color: #4a4a4a;
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .module-container {
    width: 280px;
  }
  .quick-ranges-container {
    display: none;
  }
  .start-end-date {
    margin-top: 0.4rem;
    width: 100%;
  }
  .selected-dates-container {
    justify-content: center;
  }
}

:root {
  --azure: #007affff;
  --gray-x-11-gray: #bababbff;
  --white: #ffffffff;
  --white-2: #ffffffff;
  --white-3: #ffffffff;
  --platinum: rgb(196, 196, 196);
  --white-4: #ffffffff;
  --spanish-gray: #939394ff;
  --dodger-blue: #258dffff;
  --davys-grey: #505050ff;
  --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
